@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.main-content {
    min-height: 100vh;
    width: $desktop-width;
    margin: 48px auto;
}

.test-paragraph {
    color: red;
}

// HEADER
// =========================
header {
    background: $main-blue;
    height: 240px;
    color: white;
    padding: 32px;
    display: flex;
    justify-content: center;

    .header-content {
        width: $desktop-width;

        > * {
            margin: 32px 0;
        }

        h2 {
            font-weight: lighter;
        }

        a {
            color: white;
            font-weight: bold;

            &:hover {
                color: $main-yellow;
            }
        }

        .separator-yellow {
            background-color: $main-yellow;
            width: 32px;
            height: 6px;
        }

        .social-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 4px 0;
            a {
                display: flex;
                align-items: center;

                svg {
                    font-size: 24px;
                }
            }
        }
    }
}

nav {
    width: $desktop-width;
    margin: 12px auto;
    display: flex;
    justify-content: center;

    a {
        padding: 16px;
        width: 96px;
        height: 16px;
        text-align: center;
    }

    .active-nav {
        background-color: $main-blue;
        color: white;
    }
}

footer {
    background: $main-blue;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;

    a {
        color: $main-yellow;
    }
}

// PROJECTS
// =========================

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
    column-gap: 20px;
}

// PROJECT PAGE
// =========================
.project-page-container {}