@import 'variables.scss';

.portfolio-item-container {
    height: 320px;
    width: 100%;
    background-color: $lightgray;

    display: flex;
    flex-direction: column;

    .portfolio-item-image {
        height: 60%;
    }

    .portfolio-item-description {
        height: 40%;
        padding: .5rem;
        background-color: $lightgray;

        & > * {
            max-width: 300px;
        }

        & .title {
            color: rgb(72, 121, 255);
            font-weight: 100;
            font-size: 1.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .summary {
            height: 61%;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(65, 65, 65);
        }
        & .tags-container {
            height: 20%;
            display: flex;
            align-items: center;
        }
    }
    
}