@import "./variables.scss";
.project-page-container {

    .project-content-container {
        min-height: 100vh;
    }

    // Title and subtitle of project
    .project-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 0;

        #project-header {
            font-size: 2.5rem;
        }

        #project-sub-header {
            color: gray;
            font-weight: 100;
            font-size: 1.4em;
            margin-top: 8px;
        }
    }


    // Add to div displaying gray background, usually summaries of your project
    .text-body {
        background-color: $lightgray;
        padding: 30px;
        line-height: 32px;
        width: 510px;
        margin: auto;

        h3 {
            font-size: 1.8rem;
            font-weight: 100;
            margin: 10px 0 20px 0;
        }
    }

    .image-body {
        // Vars
        $smallImageSize: 30vw;
        $mediumImageSize: 50vw;
        $largeImageSize: 80vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px auto;

        figcaption {
            color: gray;
        }

        // Image content size
        &-small {
            max-width: $smallImageSize;
            img {
                max-width: $smallImageSize;
            }
        }
        &-medium {
            max-width: $mediumImageSize;
            img {
                max-width: $mediumImageSize;
            }
        }
        &-large {
            max-width: $largeImageSize;
            img {
                max-width: $largeImageSize;
            }
        }
    }

    // Sticky nav on top with home button
    .sticky-nav {
        padding: 16px;
        background-color: #417ee8;
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 4px #b8b8b8;
        position: sticky;
        top: 0;
        z-index: 1;

        & .sticky-link {
            color: $main-yellow;
            font-size: 1.5rem;

            &:hover {
                color: white;
            }
        }
    }
}