@import "./variables.scss";

.project-page {

    .text-wrap-center {
        display: flex;
        margin: auto;
        max-width: 20rem;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    #project-header {
        font-size: 2.5rem;
    }

    #project-sub-header {
        font-size: 1.5rem;
        color: gray;
    }

    .text-body {
        background-color: $lightgray;
        padding: 13px;
        line-height: 24px;
        width: 80%;
        margin: auto;
    }
}