@media screen and (max-width: 600px) {
    
    header {

        // font-size: 20px;
        
    }
}


@media screen and (max-width: 1340px) {
    // Projects Grid Container
    .projects-grid-container {
        grid-template-columns: repeat(3, 300px);
    }

    // Individual Project Page
    .project-page-container {
        .text-body {
            width: 510px;
        }
    }
}

@media screen and (max-width: 1024px) {
    
    
    // Projects Grid Container
    .projects-grid-container {
        grid-template-columns: repeat(2, 300px);
    }

    // Individual Project Page
    .project-page-container {
        .text-body {
            width: 460px;
        }
    }
}

@media screen and (max-width: 682px) {
    
    // Projects Grid Container
    .projects-grid-container {
        grid-template-columns: repeat(1, 300px);
    }

    // Individual Project Page
    .project-page-container {
        .text-body {
            width: 410px;
        }
    }
}