@media screen and (max-width: 600px) {
    
    header {

        // font-size: 20px;
        
    }
}


@media screen and (max-width: 1340px) {
    
    
    // Projects Grid Container
    .projects-grid-container {
        grid-template-columns: repeat(3, 20rem);
    }
}

@media screen and (max-width: 1024px) {
    
    
    // Projects Grid Container
    .projects-grid-container {
        grid-template-columns: repeat(2, 20rem);
    }
}

@media screen and (max-width: 682px) {
    
    // Projects Grid Container
    .projects-grid-container {
        grid-template-columns: repeat(1, 20rem);
    }
}