.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 21px;
    width: 58px;
    margin: 8px 3px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: 0.7rem;
    font-weight: bolder;
}